<div class="horizontal-menu navbar-collapse collapse ">
  <ul class="nav navbar-nav">
    <li><a href="index.html">Blog</a></li>
    <li><a href="/cv">CV</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>