<% layout('/frontpage/layout') -%>
<script src="js/main.js"></script>
<div class="row" ng-controller="indexController">
  <div class="col-md-12">
    <div class="col-md-12 text-center" style="border: 1px solid #ccc">
      <span style="margin: auto"><h1>Hệ thống DEMO</h1></span>
    </div>
    <div class="col-md-6 text-right"><h3>Sensor 1: <span style="background-color: #999;color: white;padding: 5px;border-radius: 25px;">{{value1}}</span></h3></div>
    <div class="col-md-6"><h3>Sensor 2: <span  style="background-color: #999;color: white;padding: 5px;border-radius: 25px;">{{value2}}</span></h3></div>
    <div class="col-md-6 text-right"><h3>Sensor 3: <span  style="background-color: #999;color: white;padding: 5px;border-radius: 25px;">{{value3}}</span></h3></div>
    <div class="col-md-6"><h3>Sensor 4: <span  style="background-color: #999;color: white;padding: 5px;border-radius: 25px;">{{value4}}</span></h3></div>
    <div class="col-md-12 text-center"><h3>Sensor 5: <span  style="background-color: #999;color: white;padding: 5px;border-radius: 25px;">{{value5}}</span></h3></div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-md-12">
      <div class="col-md-12 text-center">
        <form class="form-horizontal" role="form" style="margin: auto;margin-left: 35%;">
          <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">From</label>
            <div class="col-md-4">
              <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#"
                  href="#">
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="dataFrom">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="dataFrom"
                  data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">To</label>
            <div class="col-md-4">
              <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#"
                  href="#">
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="dataTo">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="dataTo"
                  data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
              <button type="button" ng-click="exportData()" class="btn btn-primary">Export <i class="fa fa-cloud-download" aria-hidden="true"></i></button>
              <button class="btn btn-success" ng-click="showGraph()"> Biểu đồ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <div class="row" ng-show="isShowGraph">
    <div class="col-md-6">
      <span style="right: 100px;position: absolute;top: 25%;z-index: 99999;"><h3>{{value1}}</h3></span>
      <div class="col-md-12">
        <div google-chart chart="myChartObject" style="height:350px; width:100%;"></div>
      </div>
    </div>
    <div class="col-md-6">
      <span style="right: 100px;position: absolute;top: 25%;z-index: 99999;"><h3>{{value2}}</h3></span>
      <div class="col-md-12">
        <div google-chart chart="myChartObject2" style="height:350px; width:100%;"></div>
      </div>
    </div>
    <div class="col-md-6">
      <span style="right: 100px;position: absolute;top: 25%;z-index: 99999;"><h3>{{value3}}</h3></span>
      <div class="col-md-12">
        <div google-chart chart="myChartObject3" style="height:350px; width:100%;"></div>
      </div>
    </div>
    <div class="col-md-6">
      <span style="right: 100px;position: absolute;top: 25%;z-index: 99999;"><h3>{{value4}}</h3></span>
      <div class="col-md-12">
        <div google-chart chart="myChartObject4" style="height:350px; width:100%;"></div>
      </div>
    </div>
    <div class="col-md-6">
      <span style="right: 100px;position: absolute;top: 25%;z-index: 99999;"><h3>{{value5}}</h3></span>
      <div class="col-md-12">
        <div google-chart chart="myChartObject5" style="height:350px; width:100%;"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center" style="border: 1px solid #ccc; padding: 20px">
    <img class="img-responsive" src="http://developer.quantcast.com/files/API_PAGE_CLOUD_-_crop.png" style="width: 100px; margin: auto">
  </div>
  
</div>