<!DOCTYPE html>
<html ng-app="frontpage">
	<% include _include/header %>
	<body>
		<section id="container" class="sidebar-closed" >
			<!--header start-->
			<header class="header white-bg">
				<!--logo start-->
			</header>
			<section id="main-content">
				<section class="wrapper">
					<%- body -%>
				</section>
			</section>
			<!--main content end-->
			<!--footer start-->
			<footer class="site-footer">
				<div class="text-center">
					2016 &copy; Hung.
					<a href="#" class="go-top">
						<i class="icon-angle-up"></i>
					</a>
				</div>
			</footer>
			<!--footer end-->
		</section>
		<% include _include/footer %>
	</body>
</html>